* {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    position: relative;
}
.up i{
    position: fixed;
    top: 85vh;
    right: 5vw;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 4;
    transition: color 0.3;
}
.up i:hover {
    color: #ffbb00;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 4;
    padding-top: 1rem;
    background-color: transparent;
}
.logo {
    font-size: 2rem;
    color: #15B097;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.ham-icon {
    position: fixed;
    top: 4vh;
    left: 90vw;
    z-index: 4;
    display: none; 
}
.ham-icon i {
    color: whitesmoke;
    font-size: 2rem;
}
.ham-icon:hover i {
    color: #15B097;
}
.ham-menu {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: transparent;
    padding: 2rem;
    display: none;
}
.ham-menu.active {
    display: block;
}
.ham-menu.notActive {
    display: none;
}
.greenbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15B097;
    opacity: 0.5;
    z-index: 1;
}
.ham-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.ham-items {
    list-style-type: none;
    align-self: flex-start;
    z-index: 4;
}
.ham-items a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    transition: all 0.3s ease;
}
.ham-items a:hover {
    color: #ffbb00;
}
.ham-exit {
    list-style-type: none;
    color: whitesmoke;
    font-size: 3rem;
    align-self: flex-end;
    transition: 0.3s;
    z-index: 3;
}
.ham-exit:hover, .ham-items:hover a {
    color: #ffbb00;
}
.navlinks ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 1.5rem;
}
.navitems {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.15rem;
    color: whitesmoke;
}
.navitems::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #15B097;
    margin: auto;
    display: block;
    margin-top: 5px;
}
.navitems:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.itemlist {
    list-style-type: none;
    text-decoration: none;
}
.bookBtn {
    list-style-type: none;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.15rem;
    color: whitesmoke;
    background-color: #15B097;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: 0.25rem solid #15B097;
    transition: 0.5s ease;
    cursor: pointer;
}
.bookBtn:hover {
    background-color: transparent;
}
.search {
    margin-right: 7rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search i {
    font-size: 1.5rem;
    color: whitesmoke;
}
.search i:hover {
    color: #15B097;
}
.searchbar {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 0.5rem;
    height: 1.5rem;
    color: whitesmoke;
    padding: 0 0.5rem 0 0.5rem;
    max-width: 17rem;
}
.searchbar::placeholder {
    color: whitesmoke;
}
.trove {
    color: #ffbb00;
}
.navspace {
    width: 100vw;
    height: 20vh;
    z-index: 1;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh;
    padding-left: 7rem;
    padding-right: 7rem;
    position: relative;
}
.destinationinfo {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 40vh;
}
.darken {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.title {
    z-index: 2;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.title h1 {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 7rem;
    text-wrap: wrap;
}
.title h3 {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}
.description {
    z-index: 3;
    width: 40vw;
    align-self: center;
}
.description p {
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#boracay {
    background-image: url(/resources/boracayBg.jpg);
}
#puertoprincesa {
    background-image: url(/resources/puerto-princesabg.png);
}
#siargao {
    background-image: url(/resources/siargaobg.jpg);
}
#bohol {
    background-image: url(/resources/chocolatehillsBg.jpg);
}
#cebu {
    background-image: url(/resources/cebubg.jpg);
}
#baguio {
    background-image: url(/resources/baguiobg.jpeg);
}
#tagaytay {
    background-image: url(/resources/tagaytaybg.jpg);
}
#bicol {
    background-image: url(/resources/bicolbg.jpeg);
}
#launion {
    background-image: url(/resources/lubg.jpg);
}
#vigan {
    background-image: url(/resources/viganbg.jpg);
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 3;
}
.revcards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}
.cards {
    height: 30vh;
    width: 15vw;
    position: relative;
    z-index: 3;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    gap: 0.7em;
}
.whitebg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.profile {
    font-size: 5rem;
    z-index: 3;
    opacity: 0.8;
    color: whitesmoke;
}
.name {
    z-index: 3;
    font-size: 1.7rem;
    color: whitesmoke;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.rating {
    z-index: 3;
    color: #ffbb00;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.revdesc {
    flex-wrap: wrap;
    z-index: 3;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
}

@media (max-width: 1500px) {
    .revdesc {
        font-size: 0.8rem;
    }
    .name {
        font-size: 1.5rem;
    }
    .title h1 {
        font-size: 6.5rem;
    }
    .title h3 {
        font-size: 1.4rem;
    }
    .description p {
        font-size: 1.4rem;
    }
}
@media (max-width: 1200px) {
    .navitems {
        display: none;
    }
    .bookBtn {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        width: 60vw;
        padding-left: 5rem;
    }
    .ham-icon {
        display: block;
    }
    .ham-menu {
        display: none;
    }
    .title h1{
        font-size: 6rem;
    }
    .title h3 {
        font-size: 1.3rem;
    }
    .description p {
        font-size: 1.3rem;
    }
    .name {
        font-size: 1.5rem;
    }
    .cards i {
        display: none;
    }
}
@media (max-width: 1000px) {
    .destinationinfo {
        flex-direction: column;
    }
    .title {
        align-self: center;
        align-items: center;
        width: 80vw;
    }
    .title h1{
        font-size: 5rem;
    }
    .title h3 {
        font-size: 1rem;
    }
    .description {
        width: 80vw;
    }
    .description p {
        font-size: 1rem;
        text-align: justify;
    }
    .revcards {
        gap: 1.8rem;
    }
    .name {
        font-size: 1.3rem;
    }   
}
@media (max-width: 700px) {
    .search {
        display: none;
    }
}