*{
    margin: 0;
}
.contentSection {
    height: 100vh;
    padding: 0 7rem 0 7rem;
}

/* HOMEPAGE */
/* NAVIGATION */
.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url(resources/homeBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    padding-top: 1rem;
}
.logo {
    font-size: 2rem;
    margin-left: 7rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.navlinks {
    margin-right: 7rem;
}
.navlinks ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 1.5rem;
}
.navitems {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.15rem;
    color: whitesmoke;
}
.navitems::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #15B097;
    margin: auto;
    display: block;
    margin-top: 5px;
}
.navitems:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.itemlist {
    list-style-type: none;
    text-decoration: none;
}
.bookBtn {
    list-style-type: none;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.15rem;
    color: whitesmoke;
    background-color: #15B097;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: 0.25rem solid #15B097;
    transition: 0.5s ease;
    cursor: pointer;
}
.bookBtn:hover {
    background-color: transparent;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 2;
}

.title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
    height: 60vh;
}
.callToAction {
    margin-right: 7rem;
}
.title h1 {
    font-size: 8rem;
    color: #3DD6D0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.title h3 {
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.emphasis {
    color: #3DD6D0;
}
.callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.callToAction h4 {
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2rem;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#CTA {
    align-self: flex-end;
}
.callToAction h4:hover {
    transform: translateX(1rem);
    color: #15B097;
}
.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    z-index: 2;
}
.features p {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}
.features i {
    font-size: 6.5rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    opacity: 0.5;
}
.dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.feat1, .feat2, .feat3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}