* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url(/resources/bookpic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.wtgradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, rgb(87, 87, 87) );
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    padding-top: 1rem;
}
.logo {
    font-size: 2rem;
    margin-left: 7rem;
    color: #15B097;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.trove {
    color: #ffbb00;
}
.navlinks {
    margin-right: 7rem;
}
.navlinks ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 1.5rem;
}
.navitems {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(255, 255, 255);
}
.navitems::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #15B097;
    margin: auto;
    display: block;
    margin-top: 5px;
}
.navitems:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.itemlist {
    list-style-type: none;
    text-decoration: none;
}
.ham-icon {
    position: fixed;
    top: 4vh;
    right: 10vw;
    z-index: 4;
    display: none;
}
.ham-icon i {
    color: whitesmoke;
    font-size: 2rem;
}
.ham-icon:hover i {
    color: #15B097;
}
.ham-menu {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: transparent;
    padding: 2rem;
    display: none;
}
.ham-menu.active {
    display: block;
}
.ham-menu.notActive {
    display: none;
}
.greenbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15B097;
    opacity: 0.5;
    z-index: 1;
}
.ham-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.ham-items {
    list-style-type: none;
    align-self: flex-start;
    z-index: 4;
}
.ham-items a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    transition: all 0.3s ease;
}
.ham-items a:hover {
    color: #ffbb00;
}
.ham-exit {
    list-style-type: none;
    color: whitesmoke;
    font-size: 3rem;
    align-self: flex-end;
    transition: 0.3s;
    z-index: 3;
}
.ham-exit:hover, .ham-items:hover a {
    color: #ffbb00;
}
.booksection {
    height: 100vh;
    margin: 0 7rem 0 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    z-index: 2;
}
.bookdetails {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    z-index: 2;
}
.bookdetails h1 {
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    text-shadow: 0 0 100px gray;
} 
.bookdetails p {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    text-shadow: 0 0 100px gray;
}
.formbox {
    width: 50%;
    width: 30vw;
    z-index: 2;
    border-radius: 50px;
    box-shadow: 0 0 10px gray;
    position: relative;
    overflow: hidden;
    max-height: 80vh;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #15B097;
    opacity: 0.5;
    z-index: 1;
}
form {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    padding: 2rem;
    z-index: 2;
    max-height: 75vh;
}
#formtitle {
    align-self: center;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    z-index: 2;
}
#subtn {
    align-self: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #3DD6D0;
    transition: 0.5s ease;
    z-index: 2;
}
#subtn:hover {
    background-color: #288986;
}
form input, select {
    border-radius: 10px;
    margin-bottom: 1rem;
    border: none;
    height: 2rem;
    padding: 0.5rem;
    z-index: 2;
    padding-left: 1rem;
}
label {
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    z-index: 2;
}
#defopt {
    color: gray;
}


@media (max-width: 1500px) {
    .formbox {
        width: 35vw;
    }
    .bookdetails h1 {
        font-size: 3rem;
    }
    .bookdetails p {
        font-size: 1.1rem;
    }
}
@media (max-width: 1200px) {
    .bookdetails h1 {
        font-size: 2.5rem;
    }
    .bookdetails p {
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    .bookdetails {
        display: none;
    }
    .formbox {
        width: 50vw;
    }
    .ham-icon {
        display: block;
    }
    .navitems {
        display: none;
    }
}
@media (max-width: 800px) {
    .formbox {
        width: 60vw;
    }
}